# Java (Spring Boot)
*.class
*.jar
*.war
*.log
*.iml
/.idea/
/target/
/build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv 환경 변수
.env
.env.local
.env.*.local

# Next.js
.next/
out/
.cache/
dist/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: macOS zip에서 생기는 파일
__MACOSX/

# Optional: local data
*.local
*.tgz

# TypeScript
*.tsbuildinfo

# 기타 백업
*.bak
*.tmp
