# 소스코드: 줄바꿈 LF 고정
*.java       text eol=lf
*.html       text eol=lf
*.js         text eol=lf
*.css        text eol=lf
*.xml        text eol=lf
*.yml        text eol=lf
*.properties text eol=lf
*.md         text eol=lf

# 실행 관련
/gradlew     text eol=lf
*.bat        text eol=crlf
*.sh         text eol=lf

# 바이너리
*.jar        binary
*.png        binary
*.jpg        binary
*.gif        binary