<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.mall.mapper.product.CategoryMapper">

    <!-- 전체 카테고리 조회 -->
    <select id="findAll" resultType="com.itbank.mall.entity.product.Category">
        SELECT id, name
        FROM category
        ORDER BY id ASC
    </select>

    <!-- 카테고리 추가 -->
    <insert id="insert" parameterType="com.itbank.mall.entity.product.Category">
        INSERT INTO category (name)
        VALUES (#{name})
    </insert>

    <!-- 카테고리 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM category
        WHERE id = #{id}
    </delete>

</mapper>
