<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.mall.mapper.product.ProductOptionMapper">

    <!-- 1. 특정 상품의 옵션 전체 조회 -->
    <select id="findByProductId" resultType="com.itbank.mall.entity.product.ProductOption" parameterType="long">
        SELECT *
        FROM product_option
        WHERE product_id = #{productId}
    </select>

    <!-- 2. 옵션 추가 -->
    <insert id="insert" parameterType="com.itbank.mall.entity.product.ProductOption">
        INSERT INTO product_option (
            product_id,
            option_type_id,
            option_value,
            extra_price,
            stock
        ) VALUES (
            #{productId},
            #{optionTypeId},
            #{optionValue},
            #{extraPrice},
            #{stock}
        )
    </insert>

    <!-- 3. 옵션 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM product_option
        WHERE id = #{id}
    </delete>

    <!-- 4. 옵션 수정 -->
    <update id="update" parameterType="com.itbank.mall.entity.product.ProductOption">
        UPDATE product_option
        SET 
            option_type_id = #{optionTypeId},
            option_value   = #{optionValue},
            extra_price    = #{extraPrice},
            stock          = #{stock}
        WHERE id = #{id}
    </update>

</mapper>

