/* /app/globals.css */
@import "tailwindcss";

/* .dark 클래스 기반 다크 변형 정의 */
@custom-variant dark (&:where(.dark, .dark *));

/* 지정된 14가지 색상만 토큰으로 등록 */
@theme {
  --color-primary: #BFA2DB;
  --color-accent: #b668ffff;
  --color-background: #e5e5e5;
  --color-surface: #F3F1F5;
  --color-text-primary: #000000;
  --color-text-secondary: #6B7280;
  --color-border: #bbbbbbff;
  --color-error: #DC2626;
  --color-warning: #FACC15;
  --color-success: #16A34A;
  --color-dark-background: #171717;
  --color-dark-surface: #1A1A1A;
  --color-dark-text-primary: #d1d5db;
  --color-dark-text-secondary: #94A3B8;
  --color-dark-border: #444444;
}

/* 기본 배경/텍스트 적용 */
:root {
  color-scheme: light dark;
}

body {
  padding-bottom: calc(var(--footer-h, 96px) + env(safe-area-inset-bottom));
}

html,
body {
  height: 100%;
}

body {
  @apply bg-background text-text-primary;
}

.dark body {
  @apply bg-dark-background text-dark-text-primary;
}