<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>IB Mall</title>
</head>

<body>
	<h1>Itbank Mall</h1>
	
	<!-- 로그인한 경우 닉네임 표시 -->
	<div th:if="${nickname}">
	  <p th:text="${nickname} + '님 어서오세요!'"></p>
	</div>
	
	<div id="unauthenticated-buttons">
		<a th:href="@{/signin}"><button>로그인</button></a>
		<a th:href="@{/signup}"><button>회원가입</button></a>
	</div>

	<div id="authenticated-buttons" style="display:none;">
		<a th:href="@{/mypage}"><button>마이페이지</button></a>
		<button onclick="logout()">로그아웃</button>
	</div>

	<script src="/js/home.js"></script>
</body>

</html>