<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.mall.mapper.GradeUpdateMapper">

    <select id="findMembersWithTotalSpent" resultType="com.itbank.mall.dto.MemberGradeDto">
        SELECT 
            m.id AS memberId,
            COALESCE(SUM(o.total_price), 0) AS totalSpent
        FROM 
            member m
        LEFT JOIN 
            `order` o 
            ON m.id = o.member_id
            AND o.created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
        GROUP BY 
            m.id
    </select>

    <select id="findGradeRules" resultType="com.itbank.mall.entity.GradeRuleEntity">
        SELECT grade_name AS gradeName, min_spending AS minSpending
        FROM grade_rule
        ORDER BY min_spending DESC
    </select>
    
    <select id="findMemberWithTotalSpentById" resultType="com.itbank.mall.dto.MemberGradeDto">
    SELECT 
        m.id AS memberId,
        COALESCE(SUM(o.total_price), 0) AS totalSpent
    FROM 
        member m
    LEFT JOIN 
        `order` o 
        ON m.id = o.member_id
        AND o.created_at >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
    WHERE 
        m.id = #{memberId}
    GROUP BY 
        m.id
</select>

    <update id="updateMemberGrade">
        UPDATE member
        SET grade = #{grade}
        WHERE id = #{memberId}
    </update>

</mapper>