<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itbank.mall.mapper.OrderMapper">

	<!-- 주문 상세 조회용 resultMap -->
	<resultMap id="orderItemMap" type="com.itbank.mall.dto.OrderItemDto">
		<result property="productName" column="product_name" />
		<result property="quantity" column="quantity" />
		<result property="price" column="price" />
	</resultMap>

	<!-- 주문 전체 조회용 resultMap -->
	<resultMap id="orderMap" type="com.itbank.mall.dto.OrderDto">
		<id property="orderId" column="order_id" />
		<result property="totalPrice" column="total_price" />
		<result property="status" column="status" />
		<result property="createdAt" column="created_at" />
		<collection property="orderItems"
			ofType="com.itbank.mall.dto.OrderItemDto" resultMap="orderItemMap" />
	</resultMap>

	<!-- 주문 + 주문 상세 + 상품 JOIN 쿼리 -->
	<select id="findOrdersByMemberId" resultMap="orderMap">
		SELECT
		o.order_id,
		o.total_price,
		o.status,
		o.created_at,
		oi.quantity,
		oi.price,
		p.name AS product_name
		FROM `order` o
		JOIN order_item oi ON o.order_id = oi.order_id
		JOIN product p ON oi.product_id = p.product_id
		WHERE o.member_id = #{memberId}
		ORDER BY o.created_at DESC
	</select>

	<insert id="insertOrder" parameterType="com.itbank.mall.entity.OrderEntity"
		useGeneratedKeys="true" keyProperty="orderId">
		INSERT INTO `order` (
		member_id,
		total_price,
		status,
		created_at,
		buyer_phone,
		buyer_address,
		order_type
		) VALUES (
		#{memberId},
		#{totalPrice},
		#{status},
		#{createdAt},
		#{buyerPhone},
		#{buyerAddress},
		#{orderType}
		)
	</insert>

	<insert id="insertOrderItem"
		parameterType="com.itbank.mall.entity.OrderItemEntity">
		INSERT INTO order_item (
		order_id,
		product_id,
		quantity,
		price
		) VALUES (
		#{orderId},
		#{productId},
		#{quantity},
		#{price}
		)
	</insert>


</mapper>
