<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.mall.mapper.PasswordResetTokenMapper">

  <insert id="insertToken">
    INSERT INTO password_reset_token (email, token, expired_at, is_used)
    VALUES (#{email}, #{token}, #{expiredAt}, 0)
  </insert>
  
<select id="findValidToken" resultType="com.itbank.mall.entity.PasswordResetToken">
  SELECT * FROM password_reset_token
  WHERE token = #{token}
    AND expired_at > #{now}
    AND is_used = 0
</select>

<update id="markAsUsed">
  UPDATE password_reset_token
  SET is_used = 1
  WHERE id = #{id}
</update>

</mapper>
