<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.mall.mapper.WishlistMapper">

    <!-- 찜 목록 조회 -->
    <select id="selectWishlistByMemberId" resultType="com.itbank.mall.dto.WishlistDto">
        SELECT
            w.wishlist_id,
            w.member_id,
            w.product_id,
            p.name AS productName,
            p.thumbnail_url AS imageUrl,
            p.price
        FROM wishlist w
        JOIN product p ON w.product_id = p.product_id
        WHERE w.member_id = #{memberId}
    </select>

    <!-- 찜 추가 -->
    <insert id="insertWishlist">
        INSERT INTO wishlist (member_id, product_id)
        VALUES (#{memberId}, #{productId})
    </insert>

    <!-- 찜 삭제 -->
    <delete id="deleteWishlist">
        DELETE FROM wishlist
        WHERE member_id = #{memberId}
        AND product_id = #{productId}
    </delete>

</mapper>
